<%= form_for(@metter) do |f| %>
  <% if @metter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metter.errors.count, "error") %> prohibited this metter from being saved:</h2>

      <ul>
      <% @metter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :program_id %><br>
    <%= f.select :program_id, Program.all.collect {|x| [x.name, x.id]}, {}, :multiple => false %>
  </div>
  <% if current_user.permission_level == "Profesor" or current_user.permission_level == "Administrador" %>
    <label>Estudiantes</label>
    <% @users.each do |user_id| %>
    <div class="field">
      <%= check_box_tag "users[]", user_id.id%> <%= user_id.name%> <%= user_id.last_name%>
    </div>
    <%end%>
  <%end%>
  
  <% if current_user.permission_level == "Administrador" %>
    <label>Profesor</label>
    <% @usersT.each do |user_id| %>
    <div class="field">
      <%= check_box_tag "users[]", user_id.id%> <%= user_id.name%> <%= user_id.last_name%>
    </div>
    <%end%>
  <%end%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
