<p id="notice"><%= notice %></p>

<h1>Listing Metters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Program</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @metters.each do |metter| %>
      <tr>
        <td><%= metter.name %></td>
        <td><%= metter.program %></td>
        <td><%= link_to 'Show', metter %></td>
        <td><%= link_to 'Edit', edit_metter_path(metter) %></td>
        <td><%= link_to 'Destroy', metter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metter', new_metter_path %>
