<%= form_for(@faculty) do |f| %>
  <% if @faculty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faculty.errors.count, "error") %> prohibited this faculty from being saved:</h2>

      <ul>
      <% @faculty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nombre Facultad" %><br>
    <%= f.text_field :name,class: "form-control"%>
  </div>
  <div class="actions">
    <%= f.submit "Crear Facultad",class:"btn be-green white"%>
  </div>
<% end %>
