<p id="notice"><%= notice %></p>

<div class="top-space center-xs">
  
      <h1>Lista de Facultades</h1>
    <% @faculties.each do |faculty| %>
    <div class="row center-xs">
     
      <div class="col-xs-1 col-md-1">
        
        <%= faculty.name %>
      </div>
      <div class="col-xs-1 col-md-1">
        <%= link_to 'Detalles', faculty %>
      </div class="col-xs-1 col-md-1">
        <%= link_to 'Editar', edit_faculty_path(faculty) %>
      <div>
        <div class="col-xs-1 col-md-1">
          <%= link_to 'Eliminar', faculty, method: :delete, data: { confirm: 'Seguro que desea borrar?' },class:"red" %>
        </div>
      </div>
    </div>
     <% end %>
</div>
<div class="top-space blue">
   <%= link_to 'Agregar Facultad', new_faculty_path %>
</div>



