<p id="notice"><%= notice %></p>

<p>
  <strong>Id matter:</strong>
  <%= @matter.id_matter %>
</p>

<p>
  <strong>Name:</strong>
  <%= @matter.name %>
</p>

<p>
  <strong>Program:</strong>
  <%= @matter.program %>
</p>

<%= link_to 'Edit', edit_matter_path(@matter) %> |
<%= link_to 'Back', matters_path %>
